{# Botones para la columna opciones de la tabla #}
{% block botones %}
    <button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('proveedor_historiales', {'id' : row.id }) }}'">Ver Historiales</button>
    <button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('proveedor_modificar', {'id' : row.id }) }}'">Modificar</button>
    <button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('proveedor_preeliminar', {'id' : row.id }) }}'">Eliminar</button>
{% endblock %}   
