{# Botones para la columna opciones de la tabla #}
{% block botones %}
    
<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('producto_modificar', {'id' : row.id }) }}'">Modificar</button>
    
<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('producto_preeliminar', {'id' : row.id }) }}'">Eliminar</button>

{% endblock %}





