{% extends 'base.html.twig' %}

{% block body %}
    <div class="card bg-light mb-12"> 
        <div class="card-body">
    
        <h2>Error:</h2>
        <h3>Ocurrió un error inesperado. Código {{ error }}</h3>
        </div>
    </div>
{% endblock %}