{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}



{% block body %}
   
    <div class="card bg-light mb-12">
       <div class="card-body">
           
       {% block titleLista %}
            <h1 class="h3 mb-3 font-weight-normal">Listado de algo:</h1>
       {% endblock %}
       
       <div id="clientes">
           <strong><h3>Cargando...</h3></strong>
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
       </div>

       {% block buttons %}
       {% endblock %}
       
       
        </div>
    </div>
    
            
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
    $(function() {
        $('#clientes').initDataTables({{ datatable_settings(datatable) }}, 
        { 
            searching: true,
            language: {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No existen registros",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "",
                "infoFiltered": "(Filtrado de un total de <b> _MAX_  </b> registros)",
                "loadingRecords": "Cargando...",
                "processing":     "<b>Procesando...</b>",
                "search":         "Búsqueda:",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                }
            }
        });
    });
    </script>
{% endblock %}
